<app-navegacion></app-navegacion>

<div>
<section class="relative bg-gradient-to-r from-teal-500 to-blue-400 text-white p-8 rounded-lg shadow-2xl">
  <!-- Contenedor principal con flex -->
  <div class="flex flex-col md:flex-row items-center lg:space-x-8 justify-center">
    <!-- Contenido de texto -->
    <div class="relative z-10 md:w-2/3 lg:w-1/2 text-center">
      <h2 class="text-4xl font-bold leading-tight mb-4">
        <span class="block text-2xl">¡No te pierdas los próximos eventos de Uruguayos!</span>
        Conoce lo que está sucediendo.
      </h2>
      <p class="text-lg mb-6">Únete a nosotros para no perdertelos.</p>

      <!-- Botón para ver más eventos -->
      <a href="#eventos" class="inline-block bg-yellow-400 text-white font-semibold text-lg py-2 px-6 rounded-full shadow-md hover:bg-yellow-500 transition duration-300 ease-in-out transform hover:scale-105">
        Ver más eventos
      </a>
    </div>

  </div>
</section>  
  
  <full-calendar
[options]="calendarOptions">
</full-calendar>

  @if(eventoSeleccionado) {
  <div class="modal-overlay bg-white shadow-lg rounded-lg overflow-hidden hover:shadow-xl transition-shadow duration-300"
  >
  <div class="modal-content max-w-4xl mx-auto p-4">
    <div class="card-modal">
    <div class="relative h-auto max-h-72">
        <img [src]="eventoSeleccionado.photo" alt="Imagen del evento" class="w-full max-h-72 object-cover"/>
      <div class="absolute top-2 left-2 bg-teal-400 text-white text-sm font-bold px-3 py-1 rounded">
        {{ eventoSeleccionado.fecha | date: 'MMM d' }}
      </div>
    </div>

    <div class="p-4">
      <h2 class="text-xl font-bold text-teal-400 mb-4">{{ eventoSeleccionado.titulo }}</h2>
      <p class="text-gray-600 text-sm mb-2">{{ eventoSeleccionado.descripcion }}</p>

      <div class="text-sm text-gray-500">
        <p><strong>Fecha:</strong> {{ eventoSeleccionado.fecha }} </p>
        @if(eventoSeleccionado.fecha_fin) {
          <p><strong>Fecha fin:</strong> {{ eventoSeleccionado.fecha_fin }} </p>
        }
        <p><strong>Hora inicio:</strong> {{ eventoSeleccionado.hora_inicio }} </p>
        @if(eventoSeleccionado.hora_fin) {
          <p><strong>Hora fin:</strong> {{ eventoSeleccionado.hora_fin }} </p>
        }
        <p><strong>Ubicación:</strong> {{ eventoSeleccionado.ubicacion }} </p>
        @if(eventoSeleccionado.entrada){
          <p><strong>Entrada:</strong> {{ eventoSeleccionado.entrada }} </p>
        }
        @if(eventoSeleccionado.precio){
        <p><strong>Precio:</strong> {{ eventoSeleccionado.precio | currency:'EUR' }}</p>
      }
      </div>
    </div>

    <button
    (click)="cerrarModal()"
    class="mt-6 w-full bg-yellow-400 text-white py-2 px-4 rounded-lg hover:bg-yellow-600 transition"
  >
    Cerrar
  </button>
  </div>
</div>
</div>
}

<app-footer></app-footer>