full-calendar {
  display: block;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.fc-event-title {
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fc-prev-button, .fc-next-button {
  color: #fff;
  background-color: #319795;
}

.fc-prev-button:hover, .fc-next-button:hover {
  background-color: #276d62;
  color: #fff;
}
.fc-event {
  padding: 10px 15px;
}
.fc {
  font-size: 16px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.card-modal {
  font-family: Arial, sans-serif;
  color: #333;
}

.card-modal h2 {
  margin: 0 0 10px 0;
}

.card-modal p {
  margin: 10px 0;
}

button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

button:hover {
  background-color: #319795; /* Color más oscuro */
}