  <full-calendar
[options]="calendarOptions">
</full-calendar>

<!-- <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-6">
  @for(evento of eventos; track evento.id_evento) {
  <div class="bg-white shadow-lg rounded-lg overflow-hidden hover:shadow-xl transition-shadow duration-300"
  >
    <div class="relative h-48">
       <img
        src="{{ evento.imagen || 'https://via.placeholder.com/400x300' }}"
        alt="{{ evento.titulo }}"
        class="w-full h-full object-cover"
      /> 
      <div class="absolute top-2 left-2 bg-teal-500 text-white text-sm font-bold px-3 py-1 rounded">
        {{ evento.fecha | date: 'MMM d' }}
      </div>
    </div>

    <div class="p-4">
      <h3 class="text-lg font-bold text-gray-800 mb-2">{{ evento.titulo }}</h3>
      <p class="text-gray-600 text-sm mb-2">{{ evento.descripcion }}</p>

      <div class="text-sm text-gray-500">
        <p><strong>Hora:</strong> {{ evento.hora_inicio }} - {{ evento.hora_fin || 'No especificada' }}</p>
        <p><strong>Ubicación:</strong> {{ evento.ubicacion }}</p>
        @if(evento.entrada){
          <p><strong>Entrada:</strong> {{ evento.entrada }}</p>
        }
        @if(evento.precio){
        <p><strong>Precio:</strong> {{ evento.precio | currency:'EUR' }}</p>
      }
      </div>
    </div>

    <button
      (click)="seleccionarEvento(evento)"
      class="w-full bg-teal-500 text-white py-2 px-4 hover:bg-teal-600 transition-colors"
    >
      Ver más
    </button>
  </div>
}
</div>
-->
<!-- Modal -->
@if(eventoSeleccionado) {
  <div class="modal-overlay">
  <div class="modal-content">
    <div class="card-modal">
      <h2 class="text-xl font-bold text-gray-800 mb-4">{{ eventoSeleccionado.titulo }}</h2>
      <p class="text-gray-600 mb-2">{{ eventoSeleccionado.descripcion }}</p>

      <div class="text-sm text-gray-500">
        <p><strong>Fecha:</strong> {{ eventoSeleccionado.fecha }} - {{ eventoSeleccionado.fecha_fin }}</p>
        <p><strong>Hora:</strong> {{ eventoSeleccionado.hora_inicio }} - {{ eventoSeleccionado.hora_fin }}</p>
        <p><strong>Ubicación:</strong> {{ eventoSeleccionado.ubicacion }}</p>
        <p *ngIf="eventoSeleccionado.entrada"><strong>Entrada:</strong> {{ eventoSeleccionado.entrada }}</p>
        <p *ngIf="eventoSeleccionado.precio"><strong>Precio:</strong> {{ eventoSeleccionado.precio | currency:'EUR' }}</p>
      </div>
    </div>

    <button
      (click)="cerrarModal()"
      class="mt-6 w-full bg-teal-500 text-white py-2 px-4 rounded-lg hover:bg-teal-600 transition"
    >
      Cerrar
    </button>
  </div>
</div>
}

<app-footer></app-footer>