/* Asegúrate de que el dropdown se muestre correctamente */
.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 10;
  }
  
  /* Estilo para el saludo */
  .saludo {
    font-size: 1.125rem; /* Ajuste del tamaño */
    font-weight: 600; /* Resaltado */
    color: #14b8a6; /* Teal color */
    padding-right: 10px;
  }
  