<div class="space-y-6">
  
  @if(!editando && !agregando){
    <div class="flex justify-center mt-6">
  <button
    (click)="agregarBlog()"
    class="btn-agregar px-6 py-3 bg-teal-400 text-white text-lg font-semibold rounded-full shadow-md hover:bg-teal-500 focus:ring-2 focus:ring-teal-500"
  >
    Agregar nuevo post
  </button>
</div>
}
    @if (mostrarFormularioBlog) {
    <form [formGroup]="blogForm" (ngSubmit)="agregarBlog()" class="space-y-6">
      
      <!-- Título -->
      <div>
        <label class="block text-sm font-medium mb-1" for="titulo">Título</label>
        <input
          id="titulo"
          type="text"
          formControlName="titulo"
          class="w-full bg-gray-800 border border-gray-700 rounded-md p-2 text-white focus:outline-none focus:ring-2 focus:ring-teal-500"
          required
        />
      </div>
  
      <!-- Contenido -->
      <div>
        <label class="block text-sm font-medium mb-1" for="contenido">Contenido</label>
         <editor apiKey="qobixfl8d269htsdhbgkwr5cglvx91ltdouomicefl5sxc3x"
          id="contenido"
          formControlName="contenido"
          class="w-full bg-gray-800 border border-gray-700 rounded-md p-2 text-white focus:outline-none focus:ring-2 focus:ring-teal-500"
        >
        </editor>
       
      </div>
  
      <!-- Categoría -->
      <div>
        <label class="block text-sm font-medium mb-1" for="categoria">Categoría</label>
        <input
          id="categoria"
          type="text"
          formControlName="categoria"
          class="w-full bg-gray-800 border border-gray-700 rounded-md p-2 text-white focus:outline-none focus:ring-2 focus:ring-teal-500"
          required
        />
      </div>
  
      <!-- Estado -->
      <div>
        <label class="block text-sm font-medium mb-1" for="status">Estado</label>
        <select
          id="status"
          formControlName="status"
          class="w-full bg-gray-800 border border-gray-700 rounded-md p-2 text-white focus:outline-none focus:ring-2 focus:ring-teal-500"
          required
        >
          <option [value]="true">Activo</option>
          <option [value]="false">Inactivo</option>
        </select>
      </div>
  
      <!-- Acciones -->
      <button
    type="submit"
    class="bg-teal-400 text-white px-4 py-2 rounded-md hover:bg-teal-600 focus:ring-2 focus:ring-teal-500 w-full">
    Guardar
  </button>
    </form>
  }

    <div class="space-y-4 mt-8">
      @if (!editando && !agregando) {
        <h2 class="text-2xl font-semibold text-center">Lista de Blogs</h2>
        @if (blogs && blogs.length > 0) {
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
            @for (blog of blogs; track blog.id_blog) {
              <div class="blog-list">
                <h3>{{ blog.titulo }}</h3>
                <p>{{ blog.contenido }}</p>
                <div class="mt-4 flex gap-4">
                  <button
                    (click)="editarBlog(blog)"
                    class="btn-eventos bg-teal-400 text-white hover:text-black px-4 py-2 rounded-md hover:bg-teal-600"
                  >
                    Editar
                  </button>
                  <button
                    (click)="eliminarBlog(blog.id_blog)"
                    class="btn-eventos bg-black text-white hover:text-black px-4 py-2 rounded-md"
                  >
                    Eliminar
                  </button>
                </div>
              </div>
            }
          </div>
          } @else {
          <div class="text-center text-gray-500">No hay blogs disponibles.</div>
        }
      }
    </div>
  
  
