<div class="text-black p-8 rounded-lg shadow-lg max-w-4xl mx-auto">
  <h2 class="text-2xl font-semibold mb-6">Gestor de eventos</h2>
<button class="btn bg-teal-400 text-white" (click)="mostrarFormulario()">Agregar evento</button>
  @if (eventos.length > 0){
    <div class="mt-8">
      <h3 class="text-xl font-semibold mb-4">Lista de eventos</h3>
      <ul>
       <li
          class="bg-gray-800 p-4 mb-2 rounded-lg flex justify-between items-center"
        > @for (evento of eventos; track evento.id_evento) {
          <span>{{ evento.titulo }}</span>
          <div class="space-x-2">
            <button
              (click)="editarEvento(evento)"
              class="bg-yellow-500 text-white px-4 py-2 rounded-md hover:bg-yellow-600"
            >
              Editar
            </button>
            <button
              (click)="eliminarEvento(evento)"
              class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600"
            >
              Eliminar
            </button>
          </div>
        }
        </li>
      </ul>
    </div>
  }

  @if (mostrarFormularioEvento) {
  <form class="space-y-6" (ngSubmit)="onSubmit()">
    <!-- Title -->
    <div>
      <label class="block text-sm font-medium mb-1" for="title">Titulo</label>
      <input
        type="text"
        id="title"
        name="title"
        [(ngModel)]="evento.titulo"
        class="w-full bg-gray-800 border border-gray-700 rounded-md p-2 text-white focus:outline-none focus:ring-2 focus:ring-blue-500"
        required      
        />
    </div>

    <!-- Selector de fechas -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <label class="block text-sm font-medium mb-1" for="fecha">Fecha</label>
        <input
          type="date"
          id="fecha"
          [(ngModel)]="evento.fecha"
          name="fecha"
          class="w-full bg-gray-800 border border-gray-700 rounded-md p-2 text-white focus:outline-none focus:ring-2 focus:ring-blue-500"
          required
          />
      </div>
      <div>
        <input
          type="date"
          id="fecha_fin"
          name="fecha_fin"
          [(ngModel)]="evento.fecha_fin"
          class="w-full bg-gray-800 border border-gray-700 rounded-md p-2 mt-6 text-white focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
      </div>
    </div>

    <!-- Time Selector -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <label class="block text-sm font-medium mb-1" for="hora_inicio">Hora de inicio</label>
        <input
          type="time"
          id="hora_inicio"
          name="hora_inicio"
          [(ngModel)]="evento.hora_inicio"
          class="w-full bg-gray-800 border border-gray-700 rounded-md p-2 text-white focus:outline-none focus:ring-2 focus:ring-blue-500"
          required
          />
      </div>
      <div>
        <label class="block text-sm font-medium mb-1" for="hora_fin">Hora de finalización</label>
        <input
          type="time"
          id="hora_fin"
          name="hora_fin"
          [(ngModel)]="evento.hora_fin"
          class="w-full bg-gray-800 border border-gray-700 rounded-md p-2 text-white focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
      </div>
    </div>

    <!-- Tag Colors -->
    <!-- Tag Colors -->
<div>
  <label class="block text-sm font-medium mb-1">Identificación</label>
  <div class="flex space-x-2">
    <button class="w-6 h-6 rounded-full bg-purple-500" type="button" (click)="setColor('purple')"></button>
    <button class="w-6 h-6 rounded-full bg-blue-500" type="button" (click)="setColor('blue')"></button>
    <button class="w-6 h-6 rounded-full bg-teal-500" type="button" (click)="setColor('teal')"></button>
    <button class="w-6 h-6 rounded-full bg-green-500" type="button" (click)="setColor('green')"></button>
    <button class="w-6 h-6 rounded-full bg-yellow-500" type="button" (click)="setColor('yellow')"></button>
    <button class="w-6 h-6 rounded-full bg-orange-500" type="button" (click)="setColor('orange')"></button>
    <button class="w-6 h-6 rounded-full bg-red-500" type="button" (click)="setColor('red')"></button>
  </div>    
      <!-- Campo oculto para almacenar el color seleccionado -->
      <input type="hidden" id="color" name="color" value="" />
    </div>

    <!-- Description -->
    <div>
      <label class="block text-sm font-medium mb-1" for="description">Descripción</label>
      <textarea
        id="description"
        name="description"
        [(ngModel)]="evento.descripcion"
        class="w-full bg-gray-800 border border-gray-700 rounded-md p-2 text-white focus:outline-none focus:ring-2 focus:ring-blue-500"
        rows="4"
        required
        ></textarea>
    </div>
    <!-- Entrada -->
    <div>
      <label class="block text-sm font-medium mb-1" for="entrada">Entrada</label>
      <select
        id="entrada"
        [(ngModel)]="evento.entrada"
        name="entrada"
        required
        class="w-full bg-gray-800 border border-gray-700 rounded-md p-2 text-white focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
        <option value="Gratuito">Gratuito</option>
        <option value="Pago">Pago</option>
      </select>
    </div>

      <!-- Costo -->
       @if (evento.entrada === 'Pago'){
    <div>
      <label class="block text-sm font-medium mb-1" for="precio">Precio</label>
      <input
        type="number"
        id="precio"
        [(ngModel)]="evento.precio"
        name="precio"
        class="w-full bg-gray-800 border border-gray-700 rounded-md p-2 text-white focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>
  }

     <!-- Ubicación -->
     <div>
      <label class="block text-sm font-medium mb-1" for="ubicacion">Ubicación</label>
      <input
        type="text"
        id="ubicacion"
        [(ngModel)]="evento.ubicacion"
        name="ubicacion"
        required
        class="w-full bg-gray-800 border border-gray-700 rounded-md p-2 text-white focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>

    <!-- Actions -->
    <div class="flex justify-between">
      <button
        type="submit"
        class="bg-teal-400 text-white px-4 py-2 rounded-md hover:bg-teal-600 focus:ring-2 focus:ring-teal-500"
      > Agregar evento
      </button>

      @if (evento.id_evento) {
      <button
      type="button"
      (click)="cancelarEdicion()"
      class="bg-gray-600 text-white px-4 py-2 rounded-md hover:bg-gray-700 focus:ring-2 focus:ring-gray-500">
      Cancelar
    </button>
  }
    </div>
  </form>
}

</div>

  
  
