.map {
    width: 70%;
    height: 100%;
  } 
.map-container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
  } 
  .card-container {
    width: 30%;
    padding: 20px;
    overflow-y: auto;  // Para permitir el scroll si hay muchas tarjetas
  }

  .card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
  }

  .card h3 {
    margin: 0;
  }
  
  .card p {
    font-size: 14px;
  }

  .leaflet-div-icon {
    background: transparent !important;
    border: none !important;
  }
  
  .leaflet-marker-icon {
    background: transparent !important;
    border: none !important;
  }