<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="map-container">
      <div id="map"></div>
      <div class="card-container">

       @for (negocio of negocios; track negocio.nombre) {

        <div class="card">
          <h3>{{ negocio.nombre }}</h3>
          <p>Ubicación: {{ negocio.direccion }}</p>
          @if (negocio.redesSociales) {
            <a [href]="negocio.redesSociales" target="_blank">Redes Sociales</a>
          }
        </div>
        }
      </div>
    </div>
  </body>
</html>
