.parallax-bg {
    background-image: url("/assets/img/bandera-uru.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
  .hover-tilt:hover {
    transform: scale(1.05) rotate(1deg);
    transition: transform 0.3s ease-in-out;
  }